// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
    position: fixed;
    left: -1;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
