
<p>---------------------------ENGLISH------------------------------</p>

<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>---------------------------ESPAÑOL---------------------------------</p>

<p>Bienvenido <%= @email %>!</p>

<p>UD. puede confirmar su cuenta de email atraves del link siguiente :</p>

<p><%= link_to 'Confirmar Mi Cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>