<p>---------------------------ENGLISH---------------------------------</p>

<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<p>---------------------------ESPAÑOL---------------------------------</p>

<p>Hola,  <%= @resource.email %>!</p>

<p>Le contactamos para informarle que su password ha sido cambiado</p>
