<p>---------------------------ENGLISH---------------------------------</p>

<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

<p>---------------------------ESPAÑOL---------------------------------</p>

<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloquead por un numero excesivo de intentos erroneos.</p>

<p>Por favor haga clik en el link siguiente para desbloquear su cuenta:</p>

<p><%= link_to 'Desbloquear mi Cuenta', unlock_url(@resource, unlock_token: @token) %></p>
